<template>
  <v-toolbar>
    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn flat>Home</v-btn>
      <v-btn flat>Input</v-btn>
      <v-btn flat>Output</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>
