<template>
  <v-app>
    <v-content>
      <Menu/>
    </v-content>
        <v-content>
      <Inputs />
    </v-content>
  </v-app>
</template>

<script>
import Menu from './components/Menu';
import Inputs from './components/Inputs';

export default {
  name: 'App',
  components: {
    Menu,
    Inputs
  },
  data () {
    return {
      //
    }
  }
}
</script>
